<div class="intervalQuiz">
    <div class="note lhs">
        <span>
            Bb
        </span>
    </div>
    <div class="interval">
        <span>
            P 5th
        </span>
    </div>
    <div class="note rhs">
        <span></span>
    </div>
    <div class="result">
    </div>
</div>