<div class="intervalQuiz">
    <div class="modeSelector">
        <select>
            <option value="4ths">Circle of 4ths</option>
            <option value="5ths">Circle of 5ths</option>
            <option value="Key">Key Degrees</option>
            <option value="Diatonic Intervals">Diatonic Intervals</option>
        </select>
    </div>
    <div class="note lhs">
        <span>
            Bb
        </span>
    </div>
    <div class="interval">
        <span>
            P 5th
        </span>
    </div>
    <div class="note rhs">
        <span></span>
    </div>
    <div class="result">
    </div>
</div>